@{
    ViewBag.Title = "Pagina Incial";
}

<div class="jumbotron">
    <h1>FitCard</h1>
    <p class="lead">Bem vindo ao sistema da FitCard.</p>
    <p><a href="@Url.Action("Index", "Empresa")" class="btn btn-primary btn-lg">Cadastro de Empresas &raquo;</a></p>
</div>

