USE [master]
GO
/****** Object:  Database [FitCard_dev]    Script Date: 03/09/2017 04:35:08 ******/
CREATE DATABASE [FitCard_dev]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FitCard_dev', FILENAME = N'C:\Users\Elcio\FitCard_dev.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FitCard_dev_log', FILENAME = N'C:\Users\Elcio\FitCard_dev_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FitCard_dev].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FitCard_dev]
GO
/****** Object:  Table [dbo].[Empresa]    Script Date: 03/09/2017 04:35:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empresa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomeFantasia] [varchar](150) NULL,
	[RazaoSocial] [varchar](150) NOT NULL,
	[Cnpj] [varchar](14) NOT NULL,
	[Email] [varchar](70) NULL,
	[Endereco] [varchar](150) NULL,
	[Cidade] [varchar](100) NULL,
	[Estado] [varchar](50) NULL,
	[DataCadastro] [datetime] NOT NULL,
	[Categoria] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Telefone] [varchar](20) NULL,
 CONSTRAINT [PK_Empresa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
